body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field {
    font-size:    15px;
    font-weight:  bold;
  }
  &.field, &.actions {
    margin-bottom: 15px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.title {
  font-size:    25px;
  font-weight:  bold;
  color:        brown;
  /*border-bottom: 0px solid red;*/
  text-decoration: underline;
  margin-bottom: 30px;
}

.line_separator {
  
  border-bottom: 0px solid red;
}

fieldset.deco1 {
  
  legend {
    
    text-shadow:      1px 1px;
    color:            blue;
  }
  
  display:          block;
  margin-top:       10px;
  margin-bottom:    30px;
  margin-right:     0px;
  margin-left:      20px;
  
  
}


.select_box {
  width:            200px
}

.select_box_medium {
  width:            600px
}

.hint {
  font-size:        0.8em;
  /*font-weight:      lighter;*/
  font-style:       italic;
  /*margin-left:      200px;*/
  margin-top:       0px;
  margin-bottom:    0px;
  padding-left:     0px;
  padding-top:      -6px;
  padding-right:    0px; 
  padding-bottom:   0px;  
  color:            green; 
  border:           0px solid purple;
}
